@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
/* Variables */
/* Alt Pages */
@-webkit-keyframes loadingspin {
  0% {
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
  }
  1% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  99% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: translateX(999999px);
            transform: translateX(999999px);
  }
}
@keyframes loadingspin {
  0% {
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
  }
  1% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  99% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: translateX(999999px);
            transform: translateX(999999px);
  }
}

@-webkit-keyframes slidein {
  0% {
    margin-top: 100%;
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    margin-top: 0%;
  }
}

@keyframes slidein {
  0% {
    margin-top: 100%;
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    margin-top: 0%;
  }
}

html {
  font-family: "Roboto", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  margin: 0;
}

.loading {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 99999;
  background-color: transparent;
  position: fixed;
  pointer-events: none;
}

.loadingspin {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  -webkit-animation: loadingspin 3s;
          animation: loadingspin 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loadingspin div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #9356dc;
  border-radius: 50%;
  -webkit-animation: loadingspin 1.2s cubic-bezier(0.5, 0, 0.5, 1);
          animation: loadingspin 1.2s cubic-bezier(0.5, 0, 0.5, 1);
  border-color: #9356dc transparent transparent transparent;
}

.loadingspin div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.loadingspin div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.loadingspin div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

.headerhome {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 1px black;
          box-shadow: 0 1px black;
}

.headerhome #Logo {
  height: 15%;
  width: 50%;
  padding-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 900px) {
  .headerhome #Logo {
    width: 30%;
  }
}

.headerhome #Logo img {
  height: 100%;
  width: 100%;
}

.headerhome .previous {
  position: absolute;
  left: 15px;
  font-size: 30px;
  text-decoration: none;
  color: #000;
}

@media screen and (min-width: 900px) {
  .headerhome .previous {
    display: none;
  }
}

.headerhome .previous i {
  display: none;
}

.topsection--location {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e5e5e5;
}

.topsection--location i {
  height: 19px;
  width: 19px;
}

.topsection--location span {
  margin-left: 5px;
  color: black;
}

.topsection--description {
  background-color: #fafafa;
  text-align: center;
  padding: 2rem;
}

.topsection--description .description__title {
  margin: 0;
  font-size: 1.5rem;
  font-family: "Roboto";
}

.topsection--description .description__subtitle {
  font-weight: 300;
  margin: 1.5rem 0;
}

.topsection--description .button {
  border: 0;
  padding: 0.75rem 1.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  margin: 25px auto;
  color: white;
  background-color: #686868;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
  cursor: pointer;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}

.topsection--description .button:hover {
  background-color: white;
  -webkit-box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

.topsection--description .button a {
  text-decoration: none;
  color: inherit;
}

.containerlist {
  width: 100%;
  margin: 0 auto;
  padding: 15px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (min-width: 900px) {
  .containerlist {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 5%;
  }
}

@media screen and (min-width: 900px) {
  .containerlist__title {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.containerlist__ol {
  width: 300px;
  margin: 20px 0px;
  padding: 6px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
}

.containerlist__ol .olnumber {
  height: 25px;
  width: 25px;
  margin-left: -12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: #9356dc;
  color: #fff;
}

.containerlist__ol i {
  margin-left: 12px;
}

.containerlist__ol .oltext {
  margin-left: 12px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 900px) {
  .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 900px) {
  .container__title {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.container .card {
  width: 90%;
  height: 300px;
  margin: 15px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 900px) {
  .container .card {
    width: 45%;
    margin-bottom: 20px;
  }
}

.container .card__header {
  height: 80%;
  width: 100%;
  position: relative;
}

.container .card__header .new {
  position: absolute;
  right: 30px;
  height: 30px;
  width: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #99e2d0;
  color: #078c6b;
  font-weight: bold;
  font-size: 0.9em;
}

.container .card__header img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

.container .card__body {
  height: 20%;
  width: 95%;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .card__body a {
  height: 100%;
  width: 90%;
  text-decoration: none;
}

.container .card__body a .card__text {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .card__body a .card__text h4 {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  color: #000;
}

.container .card__body a .card__text p {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 100;
  color: #000;
}

.container .card .jaime {
  padding-top: 17px;
  width: 30px;
  cursor: pointer;
}

.container .card .jaime i {
  font-size: 1.3rem;
}

.container .card .jaime:hover i {
  color: #9356DC;
  font-weight: bold;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

footer {
  width: 100%;
  background-color: #354146;
  height: 200px;
}

@media screen and (min-width: 900px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .container-title {
  width: 95%;
  margin-left: 5%;
  padding-top: 5px;
  margin-bottom: 10px;
}

@media screen and (min-width: 900px) {
  footer .container-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer .container-title h3 {
  font-family: "Shrikhand", sans-serif;
  color: #fff;
  margin-top: 5px;
  margin-bottom: 0;
}

footer img {
  padding-top: 15px;
  color: white;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding-left: 20px;
}

footer ul li {
  padding: 5px;
}

footer a {
  text-decoration: none;
  color: white;
}

/* Page 2*/
.headeralt {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 1px black;
          box-shadow: 0 1px black;
}

.headeralt #Logo {
  height: 15%;
  width: 50%;
  padding-bottom: 5px;
}

@media screen and (min-width: 900px) {
  .headeralt #Logo {
    width: 30%;
  }
}

.headeralt #Logo img {
  height: 100%;
  width: 100%;
}

.headeralt #Logo .previous {
  position: absolute;
  left: 15px;
  font-size: 30px;
  text-decoration: none;
  color: #000;
}

.headeralt #Logo .previous i {
  height: 100%;
  display: block;
}

.Foodcontainers {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  top: 80px;
}

.Foodcontainers .restaurant_photo {
  height: 180px;
  width: 100%;
  position: absolute;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.Foodcontainers .restaurant_photo img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.Foodcontainers .Foodmenu {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  margin: 0px auto;
  padding: 15px 15px 0% 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: 150px;
  background-color: #e5e5e5;
  border-radius: 15px 15px 0px 0px;
}

.Foodcontainers .Foodmenu .header_menu {
  height: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Foodcontainers .Foodmenu .header_menu__title {
  height: 100%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Foodcontainers .Foodmenu .header_menu__title h2 {
  font-family: Shrikhand;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Foodcontainers .Foodmenu .header_menu .jaime {
  width: 30px;
  cursor: pointer;
}

.Foodcontainers .Foodmenu .header_menu .jaime i {
  font-size: 1.3rem;
}

.Foodcontainers .Foodmenu .header_menu .jaime:hover i {
  color: #9356DC;
  font-weight: bold;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.Foodcontainers .Foodmenu .plats {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.Foodcontainers .Foodmenu .plats__titre {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Foodcontainers .Foodmenu .plats__titre h4 {
  margin-bottom: 2px;
}

.Foodcontainers .Foodmenu .plats__titre div {
  height: 3px;
  width: 75%;
  background-color: #99e2d0;
}

.Foodcontainers .Foodmenu .plats__cards {
  height: 80px;
  width: 100%;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 15px;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: slide-in;
          animation-name: slide-in;
  overflow: hidden;
}

.Foodcontainers .Foodmenu .plats__cards .cards__desc {
  width: 79%;
  padding: 0px 5%;
  -webkit-transform-origin: left;
          transform-origin: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Foodcontainers .Foodmenu .plats__cards .cards__desc h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
}

.Foodcontainers .Foodmenu .plats__cards .cards__desc p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  font-weight: 100;
  font-size: 15px;
}

.Foodcontainers .Foodmenu .plats__cards span {
  margin-right: 20px;
}

@media screen and (min-width: 470px) {
  .Foodcontainers .Foodmenu .plats__cards span {
    margin-right: 100px;
  }
}

.Foodcontainers .Foodmenu .plats__cards .check {
  background-color: #99e2d0;
  color: white;
  width: 80px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0 15px 15px 0;
  margin-right: -80px;
  overflow: hidden;
  white-space: nowrap;
}

.Foodcontainers .Foodmenu .plats__cards .check i {
  color: white;
}

.Foodcontainers .Foodmenu .plats .plats__cards:hover .check {
  margin-right: 0px;
  -webkit-transition: margin-right 0.5s ease-in-out;
  transition: margin-right 0.5s ease-in-out;
}

.Foodcontainers .Foodmenu .plats .plats__cards:hover i {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: -webkit-transform 0.5s 0.1s;
  transition: -webkit-transform 0.5s 0.1s;
  transition: transform 0.5s 0.1s;
  transition: transform 0.5s 0.1s, -webkit-transform 0.5s 0.1s;
}

.Foodcontainers .Foodmenu .button {
  border: 0;
  padding: 0.75rem 1.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  margin: 25px auto;
  color: white;
  background-color: #686868;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
  cursor: pointer;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}

.Foodcontainers .Foodmenu .button:hover {
  background-color: white;
  -webkit-box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

.Foodcontainers .Foodmenu .button a {
  text-decoration: none;
  color: inherit;
}

.altfooter {
  width: 100%;
  background-color: #354146;
  height: 200px;
  position: relative;
  top: 150px;
}

.altfooter .container-title {
  width: 100%;
  padding: 5px 0 0 0px;
}

.altfooter .container-title h3 {
  font-family: "Shrikhand", sans-serif;
  color: #fff;
}

.altfooter img {
  padding-top: 15px;
  color: white;
}

.altfooter ul {
  list-style-type: none;
  margin: 0;
  padding-left: 20px;
}

.altfooter ul li {
  padding: 5px;
}

.altfooter a {
  text-decoration: none;
  color: white;
}

/* Responsive */
/*# sourceMappingURL=main.css.map */