/* Variables */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.headerhome {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 1px black;
          box-shadow: 0 1px black;
}

.headerhome #Logo {
  height: 15%;
  width: 50%;
  padding-bottom: 5px;
}

.headerhome #Logo img {
  height: 100%;
  width: 100%;
}

.topsection--location {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e5e5e5;
}

.topsection--location i {
  height: 19px;
  width: 19px;
}

.topsection--location span {
  margin-left: 5px;
  color: black;
}

.topsection--description {
  background-color: #fafafa;
  text-align: center;
  padding: 2rem;
}

.topsection--description .description__title {
  margin: 0;
  font-size: 1.5rem;
  font-family: 'Roboto';
}

.topsection--description .description__subtitle {
  font-weight: 300;
  margin: 1.5rem 0;
}

.topsection--description .button {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: white;
  background-color: #686868;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
  cursor: pointer;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}

.topsection--description .button:hover {
  background-color: white;
  -webkit-box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

.topsection--description .button a {
  text-decoration: none;
  color: inherit;
}

.containerlist {
  width: 100%;
  margin: 0 auto;
  padding: 15px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.containerlist__ol {
  width: 300px;
  margin: 20px 0px;
  padding: 6px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
}

.containerlist__ol .olnumber {
  height: 25px;
  width: 25px;
  margin-left: -12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: #9356dc;
  color: #FFF;
}

.containerlist__ol i {
  margin-left: 12px;
}

.containerlist__ol .oltext {
  margin-left: 12px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .card {
  width: 90%;
  height: 300px;
  margin: 15px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
}

.container .card__header {
  height: 80%;
  width: 100%;
}

.container .card__header img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

.container .card__body {
  height: 20%;
  width: 95%;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .card__body a {
  height: 100%;
  width: 80%;
  text-decoration: none;
}

.container .card__body a .card__text {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .card__body a .card__text h3 {
  margin: 0px;
  padding: 0px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  color: #000;
}

.container .card__body a .card__text h4 {
  margin: 0px;
  padding: 0px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 100;
  color: #000;
}

footer {
  width: 100%;
  background-color: #354146;
  height: 200px;
}

footer .container-title {
  width: 100%;
  padding: 5px 0 0 20px;
}

footer .container-title h3 {
  font-family: 'Shrikhand', sans-serif;
  color: #FFF;
}

footer img {
  padding-top: 15px;
  color: white;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding-left: 20px;
}

footer ul li {
  padding: 5px;
}

footer a {
  text-decoration: none;
  color: white;
}
/*# sourceMappingURL=main.css.map */