@mixin loadingspin {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

@mixin homepage {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    box-shadow: 0 1px black;

    #Logo {
        height: 15%;
        width: 50%;
        padding-bottom: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        img {
            height: 100%;
            width: 100%;
        }
    }
    .previous {
        position: absolute;
        left: 15px;
        font-size: 30px;
        text-decoration: none;
        color: #000;
        @media screen and (min-width:900px) {
          display: none;
        }
        i {
            display: none;
        }
    }
}

@mixin button {
    border: 0;
    padding: 0.75rem 1.5rem;
    width: fit-content;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 100px;
    margin: 25px auto;
    color: white;
    background-color: rgb(104, 104, 104);
    background-image: linear-gradient($pink, $purple);
    cursor: pointer;
    transition-duration: 0.25s;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  
    &:hover {
      background-color: white;
      box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.50);
    }
  
    a {
      text-decoration: none;
      color: inherit;
    }
}

@mixin ol {
    width: 300px;
    margin: 20px 0px;
    padding: 6px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,.5);
}

@mixin homecard {
    width: 90%;
    height: 300px;
    margin: 15px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,.5);

    @media screen and (min-width:900px) {
      width: 45%;
      margin-bottom: 20px;
    }
}

@mixin footer {
    width: 100%;
    background-color: #354146;
    height: 200px;
    @media screen and (min-width:900px) {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .container-title {
      width: 95%;
      margin-left: 5%;
      padding-top: 5px;
      margin-bottom: 10px;
      @media screen and (min-width:900px) {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      h3 {
          font-family: 'Shrikhand', sans-serif;
          color: #FFF;
          margin-top: 5px;
          margin-bottom: 0;
      }
    }
    img {
      padding-top: 15px;
      color: white;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding-left: 20px;
        li {
            padding: 5px;
        }
    }
    a {
        text-decoration: none;
        color: white;
    }
}

  /* Alt Pages */
@mixin altheader {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    box-shadow: 0 1px black;

    #Logo {
      height: 15%;
      width: 50%;
      padding-bottom: 5px;
        
        
      img {
        height: 100%;
        width: 100%;
      }

      .previous {
        position: absolute;
        left: 15px;
        font-size: 30px;
        text-decoration: none;
        color: #000;
        i {
          height: 100%;
          display: block;
        }
      }
    }
}

@mixin Foodmenu {
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;
    margin: 0px auto;
    padding: 15px 15px 0% 15px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 150px;
    background-color: #e5e5e5;
    border-radius: 15px 15px 0px 0px;
}

@mixin headermenu {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &__title {
      height: 100%;
      width: 80%;
      display: flex;
      align-items: center;
      h2 {
        font-family: Shrikhand;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .jaime {
      width: 30px;
      cursor: pointer;

        i {
          font-size: 1.3rem;
        }   
    }
    .jaime:hover i {
      color: $purple;
      font-weight: bold;
      transition: all linear .5s;
      }
  }

@mixin plats {
  height: fit-content;
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: column;

  &__titre {
    width: fit-content;
    display: flex;
    flex-direction: column;
    h4 {
      margin-bottom: 2px;
    }
    div {
      height: 3px;
      width: 75%;
      background-color: #99e2d0;
    }
  }

  &__cards {
    height: 80px;
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
    animation-duration: 3s;
    animation-name: slide-in;
    overflow: hidden;

    .cards__desc {
      width: 79%;
      padding: 0px 5%;
      transform-origin: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      h4 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
        font-weight: 400;
        font-size: 18px;
      }

      p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
        font-weight: 100;
        font-size: 15px;
      }
    }
    span {
      margin-right: 20px;
    }
    .check {
      background-color: #99E2D0;
      color: white;
      width: 80px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0 15px 15px 0;
      margin-right: -80px;
      overflow: hidden;
      white-space: nowrap;

    }
  }
}
@mixin footer2 {
  width: 100%;
  background-color: #354146;
  height: 200px;
  position: relative;
  top: 150px;

  .container-title {
    width: 100%;
    padding: 5px 0 0 0px;
    h3 {
        font-family: 'Shrikhand', sans-serif;
        color: #FFF;
    }
  }
  img {
    padding-top: 15px;
    color: white;
  }
  ul {
      list-style-type: none;
      margin: 0;
      padding-left: 20px;
      li {
          padding: 5px;
      }
  }
  a {
      text-decoration: none;
      color: white;
  }
}